$primary: #daa988;
$primary_light: #ffcba3;
$primary_dark: #ae876d;
$black: #232120;
$dark: #494542;
$light: #d2cfcd;
$white: #fafafa;
$accent_0: #87dad2;
$accent_0_light: #a2fffc;
$accent_0_dark: #6caea8;
$accent_1: #da878f;
$accent_1_light: #ffa2ac;
$accent_1_dark: #ae6c72;


* {
  outline: none;
}

html {
  background-image: url("https://3.bp.blogspot.com/-gsj13dzlmaY/VFpzMkHP0SI/AAAAAAAAHeU/cqoUUPV6WpM/s1600/photographer-Girl-Nayan-Meckwan.jpg"), linear-gradient(#eb01a5, #d13531); /* W3C */
  background-size: cover;

}

body {
  background-color: rgba(255, 0, 0, 0.6);
  height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  nav {

    text-align: right;
    padding-bottom: 100px;
    vertical-align: center;

     a{
       margin: 100px 20px;
     }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;


    h1 {
      font-size: 60px;
    }

    button {
      background-color: $accent_0;
      width: 300px;
      border: none;
      height: 50px;
      color: white;

    }

    button:active {
      background-color: $accent_0_dark;
    }



  }


}